version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: student_mgmt_redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data

volumes:
  redis_data:
